@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('./assets/fonts/BigNoodleTitling.eot');
  src: url('./assets/fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/BigNoodleTitling.ttf') format('truetype'),
    url('./assets/fonts/BigNoodleTitling.woff') format('woff'),
    url('./assets/fonts/BigNoodleTitling.woff2') format('woff2'),
    url('./assets/fonts/BigNoodleTitling.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'BigNoodleTitling-Oblique';
  src: url('./assets/fonts/BigNoodleTitling-Oblique.eot');
  src: url('./assets/fonts/BigNoodleTitling-Oblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/BigNoodleTitling-Oblique.ttf') format('truetype'),
    url('./assets/fonts/BigNoodleTitling-Oblique.woff') format('woff'),
    url('./assets/fonts/BigNoodleTitling-Oblique.woff2') format('woff2'),
    url('./assets/fonts/BigNoodleTitling-Oblique.svg#BigNoodleTitling') format('svg');
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

html,
body,
#root {
  height: 100%; /* needed for container min-height */
  min-height: 100%;
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}
